.techkind{
    text-align: center;
}
.stack{
    text-align: center;
}
.front{
   padding: 20px;
}
.back{
    padding: 20px;
}
.frame{
    padding: 20px;
}
.tech-wrap{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.stack{
    max-width:25%;
    margin:10px;
}
